    <%= render 'shared/header' %>

    <div class="container-md">
      <div class="my-3">
        <form>
          <div class="mb-3">
            <label class="form-label text-muted">お題：</label>
            <label class="form-label"><%= @odai %></label>
          </div>
          <div class="mb-3">
            <label for="journaling-output" class="form-label text-muted">書いてみましょう</label>
            <textarea class="form-control" id="journaling-output" rows="10">偶然のつながり。</textarea>
          </div>
          <div class="d-flex justify-content-between align-items-center">
            <label class="form-label text-muted">4:33</label>
            <button type="submit" class="btn btn-secondary">書けた</button>
          </div>
        </form>
      </div>
    </div>
